@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    width: 100%;

    font-family: 'Rubik', sans-serif;
}

/* top header */

.top_nav{
    display: flex;
    justify-content: center;
    font-size: 13px;
    background-color: #51af85;
    color: rgba(255, 255, 255, 0.87);
}
.top_nav span a{
    text-decoration: underline;
    color: #baebd5;
    font-size: 13px;
}
.general_header{
    background-color: #42b983;
    border-top: solid rgba(255, 255, 255, 0.11);
}

/* mid content */

.content_header{
    display: flex;
    box-shadow: 0px 3px 25px #42b983;
    justify-content: center;
}
.content_header ul{
    display: flex;
    list-style: none;
}
.content_header ul li{
    margin: 5px 50px;
}
.content_header ul li a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.897);
}

/* bottom content header */

.content_bottom_header{
    margin-top: 20px;
}
.content_right_header input{
    width: 170px;
    height: 20px;
    padding-left: 10px;
    border: solid rgba(128, 128, 128, 0.342) 2px;
    outline: none;
    border-radius: 20px;
    color: #42b983;
    padding-right: 30px;
    margin-top: 15px;
}
.input_headtwo{
    width: 170px;
    height: 20px;
    padding-left: 10px;
    border: solid rgba(128, 128, 128, 0.342) 2px;
    outline: none;
    border-radius: 20px;
    color: #42b983;
    padding-right: 30px;
    margin-top: 15px;
}

/* searh input header */

.content_bottom_header{
    display: flex;
    justify-content: space-around;
}

/* main */

.content_main{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.left_content_main img{
    width: 300px;
    height: 280px;
    border-radius: 50%;
    box-shadow: 5px 5px 100px #51af85;
}
.left_content_main{
    margin-top: 10px;
}
.right_content_main{
    width: 30%;
    text-align: left;
    margin-left: 150px;
}
.right_content_main p{
    font-weight: 300;
    line-height: 1.3;
    color: #57977a;
}

/* line down */

.line_down{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.line_down i{
    font-size: 30px;
    color: #42b983;
}

/* content countres */

.content_main_countres{
    margin-top: 180px;
}
.itmes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    margin: 15px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border: 2px solid #51af85;
    text-align: center;
    border-radius: 20px;
}
.card button{
    width: 150px;
    height: 30px;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    background: #51af85;
    margin-top: 20px;
    margin-bottom: 10px;
}
.card_body h1{
    font-size: 20px;
}
.card_header img{
    width: 200px;
    height: 100px;
}

/* info content */

.content_left img{
    width: 400px;
    height: 250px;
}
.content_left{
    margin-right: 0px;
    position: relative;
    left: 20px;
    position: relative;
    top: 70px;
}
.content_info{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.content_right{
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
}
.btn_info{
    width: 100px;
    height: 25px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #42b983;
    border: none;
    outline: none;
    cursor: pointer;
}
.content_right span{
    color: #42b983;
    margin-left: 15px;
}
.content_info{
    position: relative;
    bottom: 100px;
}
/* active */

.itmes.activeItems{
    display: none;
}
.content_main.activeMain{
    display: none;
}
.line_down.activeDown{
    display: none;
}
.content_right h4{
    font-weight: 300;
    color: #000;
}

/* media */

@media screen and (max-width:1000px){

    /* top header */

    .top_nav{
        display: flex;
        justify-content: center;
        font-size: 10px;
        background-color: #51af85;
        color: rgba(255, 255, 255, 0.87);
    }
    .top_nav span a{
        text-decoration: underline;
        color: #baebd5;
        font-size: 10px;
    }
    /* mid content */

    .content_header{
        display: flex;
        box-shadow: 0px 3px 20px #42b983;
        justify-content: center;
    }
    .content_header ul{
        display: flex;
        list-style: none;
    }
    .content_header ul li{
        margin: 5px 30px;
    }
    .content_header ul li a{
        text-decoration: none;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.897);
    }

    /* bottom header */

    .content_right_header input{
        width: 130px;
        height: 18px;
        font-size: 13px !important; 
        padding-left: 15px;
        border: solid rgba(128, 128, 128, 0.342) 1px;
        outline: none;
        border-radius: 20px;
        color: #42b983;
        margin-top: 13px;
    }
    .input_headtwo{
        width: 130px;
        height: 18px;
        font-size: 13px !important; 
        padding-left: 15px;
        border: solid rgba(128, 128, 128, 0.342) 1px;
        outline: none;
        border-radius: 20px;
        color: #42b983;
        margin-top: 13px;
    }

    /* main */

    .content_main{
        margin-top: 0px;
        position: relative;
        top: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }
    .right_content_main p{
        font-size: 12px;
    }
    .left_content_main img{
        width: 230px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 5px 5px 100px #51af85;
    }
    
    /* line down */

    .line_down{
        margin-top: 100px;
        position: relative;
        top: 120px;
        display: none;
        justify-content: center;
    }
    .line_down i{
        font-size: 30px;
        color: #42b983;
    }

    /* main countres */

    .content_main_countres{
        margin-top: 230px;
    }
    .itmes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        width: 180px;
        margin: 14px;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        border: 2px solid #51af85;
        text-align: center;
        border-radius: 20px;
    }
    .card button{
        width: 120px;
        height: 27px;
        border: none;
        color: #fff;
        outline: none;
        cursor: pointer;
        background: #51af85;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .card_body h1{
        font-size: 13px;
    }
    .card_header img{
        width: 150px;
        height: 70px;
    }

      /* info content */

    .content_left img{
        width: 300px;
        height: 200px;
        top: 0px;
        position: relative;
    }
    .content_left{
        margin-right: 0px;
        position: relative;
        left: 0px;
        right: 90px;
    }
    .content_info{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .content_right{
        text-align: center;
        margin-left: 50px;
        margin-top: 30px;
    }
    .btn_info{
        width: 100px;
        height: 25px;
        margin-bottom: 30px;
        color: #fff;
        background-color: #42b983;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .content_right span{
        color: #42b983;
        margin-left: 15px;
    }
    .content_info{
        position: relative;
        bottom: 100px;
    }
    .content_right h1{
        font-size: 23px;
    }
    .content_right h4{
        font-size: 13px;
    }
}

@media screen and (max-width:820px){

    /* main */

    .content_main{
        display: none;
    }
    .content_info{
        position: relative;
        top: 50px;
    }

     /* main countres */ 

    .content_main_countres{
        margin-top: 50px;
    }
    .itmes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        width: 150px;
        margin: 14px;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        border: 2px solid #51af85;
        text-align: center;
        border-radius: 20px;
    }
    .card button{
        width: 95.9px;
        height: 26px;
        border: none;
        color: #fff;
        outline: none;
        cursor: pointer;
        font-size: 13px;
        background: #51af85;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .card_body h1{
        font-size: 13px;
    }
    .card_header img{
        width: 130px;
        height: 65px;
    }
    
}

@media screen and (max-width:625px){

    .content_left img{
        width: 210px;
        height: 160px;
        top: 0px;
        position: relative;
    }
    .content_left{
        margin-right: 0px;
        position: relative;
        left: 0px;
        right: 90px;
    }
    .content_info{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .content_right{
        text-align: center;
        margin-left: 50px;
        margin-top: 30px;
    }
    .btn_info{
        width: 100px;
        height: 25px;
        margin-bottom: 30px;
        color: #fff;
        background-color: #42b983;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .content_right span{
        color: #42b983;
        margin-left: 15px;
    }
    .content_right h1{
        font-size: 19px;
    }
    .content_right h4{
        font-size: 13px;
    }

    /* header */

    .content_header ul li{
        margin: 5px 20px;
    }
    .content_header ul li a{
        text-decoration: none;
        font-size: 12.5px;
        color: rgba(255, 255, 255, 0.897);
    }
}
@media screen and (max-width:500px){
    .content_header ul li{
        margin: 5px 15px;
    }
    .content_header ul li a{
        text-decoration: none;
        font-size: 11.3px;
        color: rgba(255, 255, 255, 0.897);
    }
}
@media screen and (max-width:490px){
    .content_info{
        flex-direction: column;
    }
    .content_left{
        position: relative;
        top: 10px;
    }
    .content_left img{
        position: relative;
        left: 55px;
    }
}
@media screen and (max-width:420px){
    .content_header ul li{
        margin: 5px 13px;
    }
    .content_header ul li a{
        text-decoration: none;
        font-size: 11.3px;
        color: rgba(255, 255, 255, 0.897);
    }
    .content_right_header input{
        width: 100px;
        height: 18px;
        font-size: 13px !important; 
        padding-left: 12px;
        border: solid rgba(128, 128, 128, 0.342) 1px;
        outline: none;
        border-radius: 20px;
        color: #42b983;
        margin-top: 13px;
    }
    .input_headtwo{
        width: 100px;
        height: 18px;
        font-size: 13px !important; 
        padding-left: 12px;
        border: solid rgba(128, 128, 128, 0.342) 1px;
        outline: none;
        border-radius: 20px;
        color: #42b983;
        margin-top: 13px;
    }
    .content_header ul{
        display: flex;
        list-style: none;
        position: relative;
        right: 15px;
    }
}

@media screen and (max-width:361px){
    .content_header ul li{
        margin: 4px 10px;
    }
    .content_header ul li a{
        text-decoration: none;
        font-size: 11px;
        color: rgba(255, 255, 255, 0.897);
    }
    .top_nav{
        display: flex;
        justify-content: center;
        font-size: 8px;
        background-color: #51af85;
        color: rgba(255, 255, 255, 0.87);
    }
    .content_header ul{
        display: flex;
        list-style: none;
        position: relative;
        right: 17px;
    }
    .content_right_header input{
        width: 87px;
        height: 16px;
        font-size: 13px !important; 
        padding-left: 12px;
        border: solid rgba(128, 128, 128, 0.342) 1px;
        outline: none;
        border-radius: 20px;
        color: #42b983;
        margin-top: 13px;
    }
    .input_headtwo{
        width: 87px;
        height: 16px;
        font-size: 13px !important; 
        padding-left: 12px;
        border: solid rgba(128, 128, 128, 0.342) 1px;
        outline: none;
        border-radius: 20px;
        color: #42b983;
        margin-top: 13px;
    }
}
@media screen and (max-width:320px){
    .content_header ul li{
        margin: 4px 5px;
    }
    .content_header ul li a{
        text-decoration: none;
        font-size: 11px;
        color: rgba(255, 255, 255, 0.897);
    }
}